<!DOCTYPE html>
<html>
<head>
  <title><%=title%></title>
  <%= stylesheet_link_tag    'a', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'a', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<h1>Anushi Singh</h1>
<%= yield %>

</body>
</html>
